.next-steps {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2px;
  margin-top: 2px;
}

.next-steps-branch-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px;

  background: linear-gradient(
    180deg,
    var(--widget-primary-color) 30%,
    var(--widget-background-color) 30%
  );

  border-radius: 16px;
}
.next-steps-branch-image {
  border-radius: 50%;
}
.next-step-branch-wallpaper {
  height: 50px;
  width: 100%;
}
.next-steps-branch-icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.45);
  flex-shrink: 0;
}

.next-steps-branch-info {
  flex: 1;
  min-width: 0;
}

.next-steps-branch-name {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Onest;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: -2%;
}

.next-steps-branch-address {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  color: #777777;
}

.next-steps-content {
  flex: 1;
  background-color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.next-steps-item {
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 16px;
}

.next-steps-item:hover {
  background-color: #fafafa;
}

.next-steps-item:last-child {
  border-bottom: none;
}

.next-steps-item-content {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 20px;
}

.next-steps-item-icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.45);
  flex-shrink: 0;
}

.next-steps-item-title {
  flex: 1;

  font-family: Onest;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  color: #101828;
}

.next-steps-item-arrow {
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  flex-shrink: 0;
}

.next-steps-image-container {
  width: 100%;
  max-width: 600px;
}

.next-steps-image {
  width: 100%;
  margin-bottom: -6px;
  max-width: 600px;
  aspect-ratio: 600 / 338;
  object-fit: cover;
  border-radius: 8px;
}
