.gw-field-container {
  position: relative;
  font-family: 'Onest', sans-serif;
}

.gw-field-placeholder {
  position: absolute;
  left: var(--widget-field-padding-left);
  top: 16px;
  z-index: 1;
  font-size: var(--widget-field-label-font-size);
  line-height: var(--widget-field-label-line-height);
  color: var(--widget-field-label-color);
  padding: 0 4px;
  margin-left: -4px;
  transition: all 0.2s ease-out;
  pointer-events: none;
  font-family: 'Onest', sans-serif;
}

.gw-field-placeholder--active {
  top: 8px;
  font-size: var(--widget-field-label-active-font-size);
  line-height: var(--widget-field-label-active-line-height);
  color: var(--widget-field-label-color);
}

.gw-field-placeholder--hidden {
  opacity: 0;
}

.gw-field-required {
  color: var(--widget-field-label-color);
}
